{% extends "layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Make a claim</span>
    <h1 class="govuk-heading-l">You're not eligible for this online service</h1>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <p class="govuk-body">
      This service is currently only available for registered providers of social housing.
    </p>

    <p class="govuk-body"><strong>What to do next</strong></p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <strong>For rental or mortgage arrears claims</strong> – use the
        <a href="#" class="govuk-link">Possession Claim Online (PCOL) service (opens in new tab)</a>.
      </li>
      <li>
        <strong>For other types of claims</strong> – use form N5 and the correct particulars of claim form.
      </li>
    </ul>

    <p class="govuk-body">
      <a href="#" class="govuk-link">View the full list of property possessions forms (opens in new tab)</a>.
    </p>

    {{ govukWarningText({
      text: "To exit back to the case list, select 'Cancel'",
      iconFallbackText: "Warning"
    }) }}

    <form method="post" action="/claims/claimant-ineligible">
      <div class="govuk-button-group">
        <a href="/claims/claimant-type" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Previous
        </a>
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </form>

    <p class="govuk-body">
      <a href="/case-list" class="govuk-link">Cancel</a>
    </p>

  </div>
</div>
{% endblock %}
