{% extends "layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Make a claim</span>
    <h1 class="govuk-heading-l">Defendant details</h1>

    <p class="govuk-body">This page is a placeholder for the defendant details screen.</p>

    <p class="govuk-body">
      <a href="/claims/contact-preferences" class="govuk-link">Back to contact preferences</a>
    </p>

  </div>
</div>
{% endblock %}
