{% extends "layouts/main.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Make a claim</span>
    <h1 class="govuk-heading-l">Placeholder: Details of Rent Arrears</h1>

    <p class="govuk-body">
      This is a placeholder for Screen 21 alternate (Details of Rent Arrears).
    </p>

    <p class="govuk-body">
      <a href="/claims/rent-details" class="govuk-link">Back to Rent Details</a>
    </p>

    <p class="govuk-body">
      <a href="/case-list" class="govuk-link">Return to case list</a>
    </p>

  </div>
</div>
{% endblock %}
