{% extends "layouts/main.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorList.length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}

    <span class="govuk-caption-l">Make a claim</span>
    <h1 class="govuk-heading-l">Assured tenancy grounds confirmation</h1>

    <p class="govuk-body">
      You have selected an assured tenancy. Assured tenancies have specific grounds for possession
      that may apply to your claim. Are you claiming possession because of rent arrears?
    </p>

    <p class="govuk-body">
      If you select 'Yes', you will be able to choose from assured tenancy grounds including
      grounds 8, 10, and 11 which relate to rent arrears.
    </p>

    <p class="govuk-body">
      If you select 'No', you will proceed to a general grounds selection where you can
      choose from other available grounds.
    </p>

    <form method="post" action="/claims/grounds-for-possession-assured-confirmation" novalidate>

      {{ govukRadios({
        name: "assuredProceed",
        fieldset: {
          legend: {
            text: "Do you want to proceed with assured-tenancy grounds?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: values.assuredProceed == "yes"
          },
          {
            value: "no",
            text: "No",
            checked: values.assuredProceed == "no"
          }
        ],
        errorMessage: {
          text: fieldErrors.assuredProceed
        } if fieldErrors.assuredProceed
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Previous",
          classes: "govuk-button--secondary",
          href: "/claims/tenancy"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </div>

    </form>

    <p class="govuk-body">
      <a href="/case-list" class="govuk-link">Cancel</a>
    </p>

  </div>
</div>
{% endblock %}
