{% extends "layouts/main.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Name of claimant</h1>

    <p class="govuk-body">
      This page will be implemented based on 9.png when uploaded.
    </p>

    <p class="govuk-body">
      <a href="/claims/claim-type" class="govuk-link">Back to claim type</a>
    </p>

  </div>
</div>
{% endblock %}
