{% extends "layouts/main.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errorList and errorList.length > 0 %}Error: {% endif %}Reasons for requesting a suspension order - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorList and errorList.length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList,
        attributes: {
          tabindex: "-1"
        }
      }) }}
    {% endif %}

    <span class="govuk-caption-l">Make a claim</span>
    <h1 class="govuk-heading-l">Reasons for requesting a suspension order</h1>

    <p class="govuk-body">
      Explain why a suspension of the right to buy is being requested.
      The court will use this information to consider whether a suspension order is appropriate.
    </p>

    <form method="post" action="/claims/reasons-for-suspension" novalidate>

      {{ govukCharacterCount({
        name: "reasons",
        id: "reasons",
        maxlength: 950,
        label: {
          text: "Explain the reasons for requesting a suspension order",
          classes: "govuk-label--m"
        },
        value: reasons,
        errorMessage: errors.reasons if errors.reasons
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          name: "action",
          value: "continue"
        }) }}

        {{ govukButton({
          text: "Previous",
          name: "action",
          value: "previous",
          classes: "govuk-button--secondary"
        }) }}

        {{ govukButton({
          text: "Cancel",
          name: "action",
          value: "cancel",
          classes: "govuk-button--secondary"
        }) }}
      </div>

    </form>

  </div>
</div>
{% endblock %}
