{% extends "layouts/main.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errorList and errorList.length > 0 %}Error: {% endif %}Rent details - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorList and errorList.length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList,
        attributes: {
          tabindex: "-1"
        }
      }) }}
    {% endif %}

    <h1 class="govuk-heading-xl">Rent details</h1>

    <form method="post" action="/claims/rent-details" novalidate>

      {{ govukInput({
        label: {
          text: "How much is the rent?",
          classes: "govuk-label--m"
        },
        id: "amount",
        name: "amount",
        prefix: {
          text: "£"
        },
        classes: "govuk-input--width-10",
        value: amount,
        errorMessage: errors.amount if errors.amount,
        spellcheck: false
      }) }}

      {{ govukRadios({
        name: "frequency",
        idPrefix: "frequency",
        fieldset: {
          legend: {
            text: "How frequently should rent be paid?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "weekly",
            text: "Weekly",
            checked: frequency == 'weekly'
          },
          {
            value: "fortnightly",
            text: "Fortnightly",
            checked: frequency == 'fortnightly'
          },
          {
            value: "monthly",
            text: "Monthly",
            checked: frequency == 'monthly'
          },
          {
            value: "other",
            text: "Other",
            checked: frequency == 'other'
          }
        ],
        errorMessage: errors.frequency if errors.frequency
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Previous",
          classes: "govuk-button--secondary",
          href: "/claims/notice-details"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </div>

    </form>

    <p class="govuk-body">
      <a href="/case-list" class="govuk-link">Cancel</a>
    </p>

  </div>
</div>
{% endblock %}
