{% extends "layouts/main.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errors and errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
    {% endif %}

    <span class="govuk-caption-l">Make a claim</span>
    <h1 class="govuk-heading-l">Claimant details (Wales)</h1>

    {% set registeredError = null %}
    {% for error in errors %}
      {% if error.field == 'registered' %}
        {% set registeredError = error %}
      {% endif %}
    {% endfor %}

    {% set licensedError = null %}
    {% for error in errors %}
      {% if error.field == 'licensed' %}
        {% set licensedError = error %}
      {% endif %}
    {% endfor %}

    {% set agentError = null %}
    {% for error in errors %}
      {% if error.field == 'agent' %}
        {% set agentError = error %}
      {% endif %}
    {% endfor %}

    <form method="post" action="/claims/welsh-claimant-details" novalidate>
      {% set checkedYes = values.registered == "yes" %}
      {% set checkedNo = values.registered == "no" %}
      {% set checkedNA = values.registered == "not-applicable" %}
      {{ govukRadios({
        name: "registered",
        fieldset: {
          legend: {
            text: "Are you registered under Part 1 of the Housing (Wales) Act 2014?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          { value: "yes", text: "Yes", checked: checkedYes },
          { value: "no", text: "No", checked: checkedNo },
          { value: "not-applicable", text: "Not applicable", checked: checkedNA }
        ],
        errorMessage: { text: registeredError.message } if registeredError
      }) }}

      {% set checkedYesLic = values.licensed == "yes" %}
      {% set checkedNoLic = values.licensed == "no" %}
      {% set checkedNALic = values.licensed == "not-applicable" %}
      {{ govukRadios({
        name: "licensed",
        fieldset: {
          legend: {
            text: "Are you licensed under Part 1 of the Housing (Wales) Act 2014?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          { value: "yes", text: "Yes", checked: checkedYesLic },
          { value: "no", text: "No", checked: checkedNoLic },
          { value: "not-applicable", text: "Not applicable", checked: checkedNALic }
        ],
        errorMessage: { text: licensedError.message } if licensedError
      }) }}

      {% set checkedYesAgent = values.agent == "yes" %}
      {% set checkedNoAgent = values.agent == "no" %}
      {% set checkedNAAgent = values.agent == "not-applicable" %}
      {{ govukRadios({
        name: "agent",
        fieldset: {
          legend: {
            text: "Have you appointed a licensed agent to manage the property?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          { value: "yes", text: "Yes", checked: checkedYesAgent },
          { value: "no", text: "No", checked: checkedNoAgent },
          { value: "not-applicable", text: "Not applicable", checked: checkedNAAgent }
        ],
        errorMessage: { text: agentError.message } if agentError
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Back",
          classes: "govuk-button--secondary",
          href: "/claims/claim-type"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </form>

    <p class="govuk-body">
      <a href="/case-list" class="govuk-link">Cancel</a>
    </p>
    <p class="govuk-body">
      <a href="#" class="govuk-link">I want to save this claim and return to it later</a>
    </p>
  </div>
</div>
{% endblock %}
