{% extends "layouts/main.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if errors and errors.length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
    {% endif %}

  </div>
</div>

<div class="govuk-grid-row">

  {# Left column - Form or Success Message #}
  <div class="govuk-grid-column-one-half">

    {% if successEmail %}
      {# Success message after form submission #}
      <h1 class="govuk-heading-l">Forgotten password</h1>

      <p class="govuk-body">
        A reset link has been sent to <strong>{{ successEmail }}</strong>
      </p>

      <p class="govuk-body">
        <a href="/auth/sign-in" class="govuk-link">Return to sign in</a>
      </p>

    {% else %}
      {# Forgot password form #}
      <h1 class="govuk-heading-l">Forgotten password</h1>

      {% set emailError = null %}
      {% for error in errors %}
        {% if error.field == 'email' %}
          {% set emailError = error %}
        {% endif %}
      {% endfor %}

      <form method="post" action="/auth/forgot-password" novalidate>

        {{ govukInput({
          label: {
            text: "Email address"
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          value: values.email,
          errorMessage: { text: emailError.message } if emailError
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

        <p class="govuk-body">
          <a href="/auth/sign-in" class="govuk-link">Cancel</a>
        </p>

      </form>

    {% endif %}

  </div>

  {# Right column - Create account #}
  <div class="govuk-grid-column-one-half" style="border-left: 1px solid #b1b4b6; padding-left: 30px;">

    <h2 class="govuk-heading-m">Create an account</h2>

    <p class="govuk-body">
      You need to <a href="#" class="govuk-link">create an account</a> to use this service.
    </p>

  </div>

</div>
{% endblock %}
