{% extends "layouts/main.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Case list</h1>

    {# Empty content area - will be populated in future iterations #}

  </div>
</div>
{% endblock %}
